<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, excepturi numquam. Ex cupiditate doloremque eligendi.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas consequuntur consequatur sint natus officiis. Architecto dolores iste est quis commodi odio eum? Nesciunt harum alias vel, assumenda nisi voluptas error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, voluptas!</p>
    </div>
    <%- include('./partials/foot.ejs') %>
    
  </body>
  </html>